<div class="hamburger" (click)="openMenu()">
  <i class="material-icons">menu</i>
</div>
<nav class="navbar">
  <ul>
    <ng-container>
      <li *ngFor="let link of links" class="desktop-link">
        <a [routerLink]="link.url">{{ link.label }}</a>
      </li>
    </ng-container>
  </ul>

  @if(isMenuOpen) {

  <div class="menu">
    <ul>
      <ng-container>
        <li *ngFor="let link of links" class="desktop-link">
          <a [routerLink]="link.url">{{ link.label }}</a>
        </li>
      </ng-container>
    </ul>
  </div>
  }

</nav>